@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    font-family: 'Courgette', cursive;
  }
}

html{
  scroll-behavior: smooth;
}


.custom-img{
  background-image: url('https://images.unsplash.com/photo-1534447677768-be436bb09401?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1494&q=80');
}
